<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @statisc.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @statisc.label %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @statisc.sequence %>
</p>

<p>
  <strong>Author:</strong>
  <%= @statisc.author %>
</p>

<p>
  <strong>Max:</strong>
  <%= @statisc.max %>
</p>
<p>
  <strong>Min:</strong>
  <%= @statisc.min %>
</p>
<p>
  <strong>Sum:</strong>
  <%= @statisc.sum %>
</p>
<p>
  <strong>Average:</strong>
  <%= @statisc.avg %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @statisc.lastName %>
</p>

<%= link_to 'Edit', edit_statisc_path(@statisc) %> |
<%= link_to 'Back', statiscs_path %>
