<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @statisc.id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @statisc.label %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @statisc.sequence %>
</p>

<p>
  <strong>Author:</strong>
  <%= @statisc.author %>
</p>

<%= link_to 'Edit', edit_statisc_path(@statisc) %> |
<%= link_to 'Back', statiscs_path %>
